@model IEnumerable<YourNamespace.Insuree>

@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<table class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Quote</th>
    </tr>

    @foreach (var insuree in Model)
    {
        <tr>
            <td>@insuree.FirstName</td>
            <td>@insuree.LastName</td>
            <td>@insuree.Email</td>
            <td>@insuree.Quote</td>
        </tr>
    }
</table>
